langchain
langchain-core
langchain-community
langgraph

langchain-groq
groq

tavily-python
langchain-tavily

beautifulsoup4
requests
httpx
lxml

python-dotenv

pydantic
pydantic-settings

fastapi
uvicorn[standard]

aiohttp
anyio
tenacity
orjson

faiss-cpu
sentence-transformers
langchain-huggingface

pytest
pytest-asyncio
streamlit
torchvision